@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3F3B6C;
}

button {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border: 1px solid #fff;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
}
